body {
    background-color: #534e4e;
}
h1 {
    text-shadow: 2px 2px 5px gray;
    
}
.bodyContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.serviceHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer{
    flex: 1;
    padding: 20px;
    background: #726f6f;
    display: none;
    
}
.paymentOptions{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}
.button{
    background-color: #fff;
    color: #1c1a1d;
    font-size: 1rem;
    height: 28px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1c1a1d;
    border-radius: 7px;
}

